/* You can add global styles to this file, and also import other style files */
* {
     margin: 0;
     padding: 0;
}

body {
     background-color: rgb(28, 33, 62);
     color: rgb(221, 221, 221);
     display: flex;
     justify-content: center;
}

.page-title {
     margin-top: 1rem;
     text-align: center;
}

.newGame {
     margin-top: 2rem;
     height: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.newGame button {
     border: 2px solid rgba(255, 61, 61, 0.5);
     border-radius: 5px;
     background: none;
     padding: 1rem;
     color: white;
}

.newGame button:hover {
     border-color: rgb(255, 61, 61);
     background: rgb(255, 61, 61);
     transition: all 0.5s;
}

main {
     margin-top: 1rem;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     height: 30rem;
     width: 30rem;
}

app-square {
     border: 1.5px rgba(255, 255, 255, 0.1) solid;
     border-radius: 5px;
     margin: 0.5rem;
     height: 8rem;
     width: 8rem;
}

app-square:hover {
     border: 1.5px solid white;
     transition: 0.75s;
}

app-square button {
     width: 100%;
     height: 100%;
     font-size: 5rem;
     color: white;
     border: 0;
}

@media screen and (max-width: 1500px) {
     main {
          height: 25rem;
          width: 25rem;
     }

     app-square {
          height: 7rem;
          width: 7rem;
     }

     app-square button {
          font-size: 4rem;
     }

     h2 {
          font-size: 1.25rem;
     }
}

@media screen and (max-width: 650px) {
     main {
          height: 20rem;
          width: 20rem;
     }

     app-square {
          height: 5rem;
          width: 5rem;
     }

     app-square button {
          font-size: 3rem;
     }

     h2 {
          font-size: 1rem;
     }
}

.button-x {
     background-color: rgb(107, 53, 202);
}

.button-o {
     background-color: rgb(251, 87, 42);
}

.player-info {
     margin-top: 1.5rem;
     text-align: center;
     color: rgb(150, 150, 150);
}

.winner-info {
     margin-top: 1.5rem;
     text-align: center;
}